<Files ~ ".json$">
    Order Deny,Allow
    Deny from all
</Files>
<Files ~ "^.*\.([Hh][Tt][Aa])">
    Order allow,deny
    Deny from all
</Files>
ErrorDocument 403 /deneb/403.php
ErrorDocument 404 /deneb/404.php
ServerSignature Off